<!DOCTYPE html>
<html>
<head>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <title>Balustrade</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
